/* LESS Document */
.header {
  font-size: 20px;
  line-height: 2;
  margin: 60px auto;
}
.header span {
  display: block;
}
.header strong {
  color: black;
}
.header:hover {
  background-color: seagreen;
}
